<div id="lcb-otr" class="modal dropzone fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="validate form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-eye-slash"></i> OTR</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-sm-6"> OTR encryption choice</label>
                    </div>
                    <div class="form-group">
                            <div class="radio col-sm-9">
                                <label><input type="radio" name="optionsRadios" id="AskForOTREncyption" value="option1" checked> ask for OTR encryption</label>
                                <label><input type="radio" name="optionsRadios" id="AutomaticOTREncryption" value="option2"> Automatic OTR encryption</label>
                            </div>
                            <div class="radio col-sm-9">
                                <label><input type="radio" name="optionsRadios" id="ForcedOTREncryption" value="option3"> Forced OTR encryption</label>
                                <label><input type="radio" name="optionsRadios" id="NoOTREncryption" value="option4"> No OTR encryption</label>
                            </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-14 com-sm-offset-1">
                        <button data-toggle="modal" class="btn btn-default" data-target="#lcb-key"><i class="fa fa-key"></i> Here comes your key
                        </button>
                    </div>

       </div>


                <div class="modal-footer">
                    <button type="submit" id="start-otr" class="btn btn-success" name="submit" onclick="otr();"><i class="icon-ok"></i> Save</button>

                    
            
                     <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script language='javascript'>
                        function otr(){
                        var getotr=true;
                        }
                    </script> 